argon2-cffi==19.2.0
asgiref==3.2.10
beautifulsoup4==4.9.1
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
Collectfast==2.1.0
defusedxml==0.6.0
Django==3.1.8
django-allauth==0.41.0
django-anymail==7.0.0
django-autoslug==1.9.7
django-braces==1.14.0
django-ckeditor==5.9.0
django-crispy-forms==1.9.0
django-environ==0.4.5
django-js-asset==1.2.2
django-model-utils==4.0.0
django-redis==4.11.0
django-storages==1.9.1
gunicorn==20.0.4
idna==2.9
Markdown==3.2.2
oauthlib==3.1.0
Pillow==8.1.1
psycopg2-binary==2.8.5
pycparser==2.20
python-slugify==4.0.0
python3-openid==3.1.0
pytz==2020.1
redis==3.5.3
requests==2.24.0
requests-oauthlib==1.3.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
text-unidecode==1.3
typing-extensions==3.7.4.2
Unidecode==1.1.1
urllib3==1.26.5
whitenoise==5.0.1
django-import-export==2.2.0
