{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}
  {% if object %}
    {% trans "Update Article" %}
  {% else %}
    {% trans "Publish new article" %}
  {% endif %}
{% endblock %}

{% block content %}
   <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            {% if object %}
              <h1>{% trans "Update Article" %}</h1>
            {% else %}
              <h1>{% trans "Publish new article" %}</h1>
            {% endif %}
            <h2 class="subheading">Keep your article clear, understandable and
            informative.</h2>
          </div>
        </div>
      </div>
    </div>
  </header>

  {# Actual form container #}
  <div class="container pt-3">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <form class="" method="POST" action=".">
          {% csrf_token %}
          {{ form.media }}
          {{ form|crispy }}
          <button class="primaryAction btn btn-primary float-right" type="submit">{% trans "Post" %}</button>
        </form>
      </div>
    </div>
  </div>


  <!-- Footer -->

  <!-- Footer -->
  <div class="bg-dark mt-5">
    {% include 'inc/_footer.html' %}
  </div>
{% endblock %}

