{% extends 'base.html' %}

{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>
              {{object.title}}
              {% if request.user == object.author %}
                <a href="{% url 'articles:update' object.slug %}"
                  title="Edit Article">
                  <i class="fas fa-pen-square"></i>
                </a>
              {% endif %}
            </h1>
            {#  TODO: Implement subheading #}
            {# <h2 class="subheading">{{ object.subheading }}</h2>#}
            <span class="meta">Posted by
              <a href="#">
                {% if object.user.name %}
                  {{object.author.name}}
                {% else %}
                  {{ object.author.username }}
                {% endif %}
              </a>
               at {{object.created}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>


  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-2 d-flex flex-column
          justify-content-center align-items-center text-center">
          <form id="like_form" action="{% url 'articles:like' object.slug  %}" method="POST">
            {% csrf_token %}
            <a class="d-inline-block" href="javascript:{}"
            onclick="document.getElementById('like_form').submit(); return false;">
              <i class="fa fa-heart"></i>
            </a>
          </form>
            <h3 class="m-0">{{ likes.count }}</h3>
            <a href="">
              {# TODO: link to list all who appreciated #}
              <small>
                people liked
              </small>
            </a>
        </div>
        <div class="col-lg-8 col-md-10 mx-auto" style="word-wrap: break-word;">
          {{ object.content|safe }}
        </div>
      </div>
    </div>
  </article>

  <hr>

  <!-- Fixed Action Buttons -->
  {% include 'inc/_fixed_actions.html' %}

  <!-- Footer -->
  {% include 'inc/_footer.html' %}

{% endblock content %}
