{% extends 'base.html' %}

{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{ last_article.title }}</h1>
            <span class="subheading">{{ last_article.content|safe|truncatewords:10 }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for article in object_list %}
          <div class="post-preview">
            <a href="{% url 'articles:detail' article.slug %}">
              <h2 class="post-title">
                {{ article.title }}
              </h2>
              <h3 class="post-subtitle">
                {{ article.short_description|safe }}
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">{{ article.author.name }}</a>
              on {{ article.created }}</p>
          </div>
          <hr>
        {% endfor %}
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  {% include 'inc/_footer.html' %}

{% endblock content %}
